@import '../../../../scss/variables';
.chater-contact {
  color: $blue-gray-100;
  display: flex;
  padding: 1rem 1rem;
  font-size: .8rem;
  cursor: pointer;
  .chater-contact-avatar {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
    }
  }
  .chater-contact-info {
    display: flex;
    align-items: center;
  }
  &:hover {
    background-color: $blue-gray-700;
  }
}
