<mat-list *ngIf="members && members.length" class="channel-members-list">
  <mat-list-item *ngFor="let member of members">

    <img matListAvatar [src]="member.avatar.thumbnail.url" alt="user avatar">
    <h3 mat-line>{{ member.firstName }} {{ member.lastName }}</h3>
    <p mat-line>{{ member.email }}</p>

    <mat-icon *ngIf="member.confirmed" class="c-padding-left-2">check_circle</mat-icon>
    <mat-icon *ngIf="!member.confirmed" class="c-padding-left-2">warning</mat-icon>

    <button mat-icon-button [chatterDropdownTriggerFor]="memberMenu" [context]="member">
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-list-item>
</mat-list>


<ng-template #memberMenu let-destroy="destroy" let-member="extra">
  <chatter-channel-members-list-menu [member]="member" [destroyFn]="destroy"></chatter-channel-members-list-menu>
</ng-template>
