<div class="chatter-chat">

  <div class="chatter-chat-header">
    <h4 *ngIf="contact">{{ contact.firstName }} {{ contact.lastName }} - <small>{{ contact.email }}</small></h4>
  </div>

  <!-- Chatter Chat messages list -->
  <!-- <chatter-messages-list [messages]="messages"></chatter-messages-list> -->
  <!-- ################################################### -->

  <!-- Chatter chat editor -->
  <!-- <chatter-message-editor (messageReady)="sendMessage($event)"></chatter-message-editor> -->
  <!-- ################################################### -->
</div>

<!-- <chatter-spinner></chatter-spinner> -->
