<div class="chatter-chat">

  <div class="chatter-chat-header">

    <h4 class="animated fadeIn"
        *ngIf="contact; else headerLoaderTpl">{{ contact.firstName }} {{ contact.lastName }} - <small>{{ contact.email }}</small></h4>
  </div>

  <!-- Chatter Chat messages list -->
  <chatter-messages-list [loading]="!messages"
                         (onScroll)="handleScroll($event)"
                         [messages]="messages">
  </chatter-messages-list>
  <!-- ################################################### -->

  <!-- Chatter chat editor -->
  <chatter-message-editor *ngIf="messages"
                          [loading]="sending"
                          (messageReady)="sendMessage($event)">
  </chatter-message-editor>
  <!-- ################################################### -->

  <!-- Chatter file uploader for message -->
  <button *ngIf="messages"
          class="show-files-uploader-btn"
          mat-raised-button
          color="primary"
          (click)="showFileUploader = !showFileUploader">
    Add files
  </button>
  <chatter-file-upload *ngIf="showFileUploader"
                       [multiple]="true">
  </chatter-file-upload>
  <!-- ################################################### -->

</div>

<ng-template #headerLoaderTpl>
  <chatter-loader
    class="c-margin-top-1 c-margin-bottom-1"
    message="Processing data...">
  </chatter-loader>
</ng-template>

<!-- <chatter-spinner></chatter-spinner> -->
