<div class="chatter-chat">

  <div class="chatter-chat-header">
    <h4 class="animated fadeIn"
        *ngIf="contact && !headerTitleLoading">{{ contact.firstName }} {{ contact.lastName }} - <small>{{ contact.email }}</small></h4>
    <h4 *ngIf="headerTitleLoading"><chatter-spinner [diameter]="30"></chatter-spinner> Loading...</h4>
  </div>

  <!-- Chatter Chat messages list -->
  <chatter-messages-list [loading]="messagesListLoading"
                         [messages]="messages"></chatter-messages-list>
  <!-- ################################################### -->

  <!-- Chatter chat editor -->
  <chatter-message-editor *ngIf="!messagesListLoading"
                          (messageReady)="sendMessage($event)"></chatter-message-editor>
  <!-- ################################################### -->
</div>

<!-- <chatter-spinner></chatter-spinner> -->
