.c-d-block {
  display: block !important;
}

.c-d-flex {
  display: flex !important;
}

.c-d-inline-flex {
  display: inline-flex !important;
}

.c-justify-content-center {
  justify-content: center !important;
}

.c-align-content-center {
  align-items: center !important;
}

.c-flex-wrap {
  flex-wrap: wrap !important;
}

.c-flex-flow-column {
  flex-flow: column !important;
}

.c-width-100 {
  width: 100% !important;
}
