<button *ngIf="buttonType === buttonService.buttonTypes.basic" (click)="clickHandler($event)" [color]="color" mat-button
  [disabled]="disabled">
  sample text button
</button>

<button *ngIf="buttonType === buttonService.buttonTypes.raised" (click)="clickHandler($event)" [color]="color" mat-raised-button
  [disabled]="disabled">
  sample text raised
</button>


<button *ngIf="buttonType === buttonService.buttonTypes.fab" (click)="clickHandler($event)" [color]="color" mat-fab [disabled]="disabled">
  sample text fab
</button>

<button *ngIf="buttonType === buttonService.buttonTypes.miniFab" (click)="clickHandler($event)" [color]="color" mat-mini-fab
  [disabled]="disabled">
  sample text mini fab
</button>

<button *ngIf="buttonType === buttonService.buttonTypes.icon" (click)="clickHandler($event)" [color]="color" mat-icon-button
  [disabled]="disabled">
  <mat-icon>{{ icon }}</mat-icon>
</button>
