<div class="file-upload"
     [class.center]="!files || !files.length"
     chatterOpenFileBox
     [multiple]="multiple"
     (filesLoaded)="handleFilesLoaded($event)">

  <mat-icon *ngIf="!files || !files.length; else previewView;">cloud_upload</mat-icon>

</div>

<ng-template #previewView>

  <chatter-file-preview *ngFor="let file of files"
                        (onRemove)="removeFile($event)"
                        [canPreview]="false"
                        [canDownload]="false"
                        [file]="file">
  </chatter-file-preview>

</ng-template>
