.file-upload {
  border: 1px dashed #fff;
  width: inherit;
  display: flex;
  cursor: pointer;
  transition: all .4s;
  min-height: 220px;
  flex-wrap: wrap;
  &:hover {
    border-color: rgba(#fff, .5);
  }
}
