.chatter-chat-messages-list {
  border: 1px solid rgba(#fff, .3);
  height: 60vh;
  overflow: auto;
}

.chatter-chat-editor {
  border: 1px solid rgba(#fff, .3);
  height: 15vh;
  margin-top: 3rem;
}
