<form
  *ngIf="formGroup"
  [formGroup]="formGroup">

  <mat-form-field>

    <input
      matInput
      formControlName="password"
      placeholder="New password"
      type="password"
    >

  </mat-form-field>

  <chatter-validation-feedback controlName="password"></chatter-validation-feedback>

  <mat-form-field>

    <input
      matInput
      formControlName="cPassword"
      placeholder="Confirm password"
      type="password"
      [fieldsMatch]="formGroup.controls.password"
    >

  </mat-form-field>

  <chatter-validation-feedback
    controlName="cPassword">

    <mat-error *ngIf="formGroup.controls.cPassword.hasError('matchError')"
    >
      Passwords are not the same
    </mat-error>

  </chatter-validation-feedback>

</form>
