<form
  *ngIf="formGroup"
  [formGroup]="formGroup">

  <mat-form-field>
    <input
      matInput
      formControlName="password"
      placeholder="New password"
      type="password"
    >

    <mat-error
      *ngIf="
      (formGroup.controls.password.touched || formGroup.controls.password.dirty)
      && formGroup.controls.password.hasError('required')"
    >
      Field is required
    </mat-error>

    <mat-error
      *ngIf="
      (formGroup.controls.password.touched || formGroup.controls.password.dirty)
       && formGroup.controls.password.getError('minlength') as error"
    >
      Field has to have at least {{ error.requiredLength }} chars
    </mat-error>

    <mat-error
      *ngIf="
      (formGroup.controls.password.touched || formGroup.controls.password.dirty)
      && formGroup.controls.password.getError('rules')?.lowercase"
    >
      Password has to contain lowercase letters
    </mat-error>

    <mat-error
      *ngIf="
      (formGroup.controls.password.touched || formGroup.controls.password.dirty)
      && formGroup.controls.password.getError('rules')?.uppercase"
    >
      Password has to contain uppercase letters
    </mat-error>

    <mat-error
      *ngIf="
      (formGroup.controls.password.touched || formGroup.controls.password.dirty)
      && formGroup.controls.password.getError('rules')?.number"
    >
      Password has to contain numbers
    </mat-error>

    <mat-error
      *ngIf="
      (formGroup.controls.password.touched || formGroup.controls.password.dirty)
      && formGroup.controls.password.getError('rules')?.special"
    >
      Password has to contain special characters
    </mat-error>

  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      formControlName="cPassword"
      placeholder="Confirm password"
      type="password"
      [fieldsMatch]="formGroup.controls.password"
    >

    <mat-error
      *ngIf="
      formGroup.controls.cPassword.touched ||
      formGroup.controls.cPassword.dirty ||
      formGroup.controls.cPassword.hasError('matchError')"
    >
      Passwords have to be the same
    </mat-error>

  </mat-form-field>

</form>
