<div>

  <h3>Account settings</h3>

  <div *ngIf="user">
    <p>
      <strong>Created at: </strong> {{ user.createdAt | date }}
    </p>
    <p>
      <strong>Updated at: </strong> {{ user.updatedAt | date }}
    </p>
  </div>

  <chatter-user-settings-form #userSettingsForm="user-settings-form"></chatter-user-settings-form>

  <button
    [disabled]="userSettingsForm.formGroup.invalid"
    mat-raised-button
    color="primary"
    (click)="submit()">Save</button>

  <!-- Here will be component for upload user image -->
  <div class="c-margin-top-1" *ngIf="user && user.avatar">
    <img [src]="user.avatar" />
  </div>
  <!--**********************************************-->

</div>

<div>

  <h3>Reset password</h3>

  <chatter-reset-password-form #resetPasswordForm="reset-password-form"></chatter-reset-password-form>

  <button
    [disabled]="resetPasswordForm.formGroup.invalid"
    mat-raised-button
    color="primary">Save</button>

</div>
