<form
  *ngIf="user"
  [formGroup]="formGroup">

  <mat-form-field>

    <input
      matInput
      formControlName="email"
      placeholder="Email"
      autocomplete="off">

  </mat-form-field>

  <chatter-validation-feedback controlName="email"></chatter-validation-feedback>

  <chatter-loader
    class="c-margin-bottom-1"
    *ngIf="formGroup.controls.email.pending"
    message="Validating email process ...."
  ></chatter-loader>

  <mat-form-field>

    <input
      matInput
      formControlName="firstName"
      placeholder="First Name"
      autocomplete="off">

  </mat-form-field>

  <chatter-validation-feedback controlName="firstName"></chatter-validation-feedback>

  <mat-form-field>

    <input
      matInput
      formControlName="lastName"
      placeholder="Last Name"
      autocomplete="off">

  </mat-form-field>

  <chatter-validation-feedback controlName="lastName"></chatter-validation-feedback>

</form>
