<div *ngIf="contact"
     class="chatter-contact animated fadeIn"
     [routerLink]="['/', links.messagesPage, contact._id]"
     routerLinkActive="selected">
  <div class="chatter-contact-avatar">
    <chatter-user-avatar [user]="contact"></chatter-user-avatar>
  </div>
  <div class="chatter-contact-info">
    <strong [matBadge]="contact.newMessagesCount"
            [matBadgeHidden]="!contact.newMessagesCount"
            matBadgePosition="above after"
            matBadgeOverlap="false"
            matBadgeColor="primary">{{ contact.firstName }} {{ contact.lastName }}</strong>
    <span class="chatter-contact-available"
          *ngIf="contact.available"></span>
  </div>
</div>
