@import '../../../scss/themes/variables';
.chater-contact {
  color: $blue-gray-100;
  display: flex;
  padding: 1rem 1rem;
  font-size: .8rem;
  cursor: pointer;
  .chater-contact-avatar {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
    }
  }
  .chater-contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &:hover,
  &.selected {
    background-color: $blue-gray-700;
    outline: none;
  }

  .chatter-contact-available {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
  }
}
