<div>

  <mat-tab-group>

    <mat-tab
      *ngIf="contacts && contacts.length"
      label="Contacts">

      <ng-template matTabContent>

        <chatter-contact *ngFor="let contact of contacts"
                         [contact]="contact">
        </chatter-contact>

      </ng-template>

    </mat-tab>

    <mat-tab label="Channels">

      <ng-template matTabContent>

        <chatter-channels-list></chatter-channels-list>

      </ng-template>

    </mat-tab>

  </mat-tab-group>

</div>
