<div class="notification-invitation-to-group-chat c-d-flex c-padding-bottom-1">
  <div class="notification-invitation-to-group-chat-avatar">
    <div *ngIf="notification.author.avatar as avatar; else defaultImage">
      <img [src]="avatar.thumbnail.url" alt="" width="70">
    </div>
  </div>
  <div class="notification-invitation-to-group-chat-content c-margin-left-2">
    <div class="c-margin-bottom-1">{{ notification.message }}</div>
  </div>
</div>

<ng-template #defaultImage>
  <img src="http://placehold.it/70x70" alt="">
</ng-template>
