<div class="extended-input-wrapper" *ngIf="editState else editStateTpl">
  <mat-form-field>
    <input matInput
           chatterExtendedInputControl
           [type]="type"
           [value]="value"
           [disabled]="disabled"
           (keyup)="handleValueChange($event)">
  </mat-form-field>
  <div>
    <button mat-button *ngIf="editState && !loading else loadingTpl" (click)="handleSave($event)">Save</button>
    <button mat-button *ngIf="editState" (click)="handleClose($event)">Cancel</button>
  </div>
</div>

<ng-template #editStateTpl>
  <div class="extended-input-text">
    <div class="c-margin-right-2">{{ value }}</div>
    <button mat-icon-button *ngIf="!editState" (click)="handleOpen($event)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #loadingTpl>
  <chatter-loader></chatter-loader>
</ng-template>
