<input *ngIf="editState else editStateTpl"
       matInput
       [type]="type"
       [value]="value"
       [disabled]="disabled"
       (keydown)="handleValueChange($event)">


<ng-template #editStateTpl>
  <div>
    <div>{{ value }}</div>
    <div>
      <button *ngIf="editState" (click)="handleSave($event)">Save</button>
      <button *ngIf="editState" (click)="close($event)">Cancel</button>
      <button *ngIf="!editState" (click)="open($event)">Edit</button>
    </div>
  </div>
</ng-template>
