<mat-list class="chatter-dropdown-list">
  <mat-list-item *ngIf="!member.blocked"  class="chatter-dropdown-list-item">
    <h3 mat-line>Block user</h3>
    <p mat-line>That action blocks user. He wont be able to see channel page and post messages</p>
<!--    <chatter-loader *ngIf="item.loading" [message]="item.clickHandlerMsg"></chatter-loader>-->
  </mat-list-item>
  <mat-list-item *ngIf="!member.blocked && !member.confirmed" class="chatter-dropdown-list-item">
    <h3 mat-line>Resend invitation</h3>
    <p mat-line>That action sends again a new invitation to the user</p>
    <!--    <chatter-loader *ngIf="item.loading" [message]="item.clickHandlerMsg"></chatter-loader>-->
  </mat-list-item>
</mat-list>
