<div class="chatter-dialog-title" mat-dialog-title>
  <h3 class="chatter-dialog-title__heading">Notifications</h3>
</div>

<mat-dialog-content [style.overflow]="'auto'">

  <div class="notifications-list-dialog">

    <div *ngIf="notifications$ | async as notifications; else loadingTemplate">

      <div class="notifications-list-dialog__list" *ngIf="notifications && notifications.length; else noItems">

        <chatter-notification-invitation-to-group-chat *ngFor="let notification of notifications"
                                                       [notification]="notification">
        </chatter-notification-invitation-to-group-chat>

      </div>

    </div>

  </div>

</mat-dialog-content>


<ng-template #loadingTemplate>
  <chatter-spinner></chatter-spinner>
</ng-template>

<ng-template #noItems>
  <div>There is no any items to display</div>
</ng-template>
