<div class="file-preview">

  <ng-template *chatterFilePreviewOutlet="file; templates: templates"></ng-template>

</div>

<!-- Image template -->
<ng-template chatterFilePreviewTpl="image" let-file>
  <div class="file-preview-container file-preview-image">
    <div class="file-preview-section">
      <img [src]="file.thumbnail.url" alt="">
    </div>
    <div class="file-preview-file-name">
      {{ file.original.name }}
    </div>
    <div class="file-preview-actions">
      <button *ngIf="canPreview"
              (click)="showPreviewImage($event)"
              mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      <button *ngIf="canDownload"
              mat-icon-button
              chatterDownloadFIle
              [fileUrl]="file.original.url">
        <mat-icon>save_alt</mat-icon>
      </button>
      <button *ngIf="canRemove"
              mat-icon-button
              (click)="handleDelete($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
<!--====================================================================-->
<!-- Pdf template -->
<ng-template chatterFilePreviewTpl="pdf" let-file>
  <div class="file-preview-container file-preview-image">
    <div class="file-preview-section">
      <mat-icon>attach_file</mat-icon>
    </div>
    <div class="file-preview-file-name">
      {{ file.original.name }}
    </div>
    <div class="file-preview-actions">
      <button *ngIf="canPreview"
              mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      <button *ngIf="canDownload"
              chatterDownloadFIle
              [fileUrl]="file.original.url"
              mat-icon-button>
        <mat-icon>save_alt</mat-icon>
      </button>
      <button *ngIf="canRemove"
              mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
<!--====================================================================-->
<!-- Txt template -->
<ng-template chatterFilePreviewTpl="text" let-file>
  <div class="file-preview-container file-preview-image">
    <div class="file-preview-section">
      <mat-icon>attach_file</mat-icon>
    </div>
    <div class="file-preview-file-name">
      {{ file.original.name }}
    </div>
    <div class="file-preview-actions">
      <button *ngIf="canPreview"
              mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      <button *ngIf="canDownload"
              chatterDownloadFIle
              [fileUrl]="file.original.url"
              mat-icon-button>
        <mat-icon>save_alt</mat-icon>
      </button>
      <button *ngIf="canRemove"
              mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
<!--====================================================================-->
