.file-preview {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem;
}

.file-preview-container {
  width: 10rem;
  border: 1px solid rgba(#fff, .5);
}

.file-preview-section {

  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;


  img {
    width: 100%;
    height: auto;
    max-height: 10rem;
  }
}

.file-preview-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-preview-file-name {
  font-size: .7rem;
  margin: .25rem;
  overflow-wrap: break-spaces;
  text-align: center;
}
