<div class="chatter-channel">
  <div>

    <strong>{{ channel.name }}</strong>

    <div class="chatter-channel__meta">
      Members: {{ (channel.members | onlyConfirmed).length }}
    </div>

  </div>

  <div *chatterIfUserEquals="channel.authorId; else userIsNotOwner;">

    <div *ngIf="!removing else spinnerTpl;" class="c-d-flex">

      <button mat-icon-button (click)="goToChannelDetails(channel, $event)">

        <mat-icon>edit</mat-icon>

      </button>

      <button mat-icon-button (click)="removeChannel(channel, $event)">

        <mat-icon>clear</mat-icon>

      </button>

    </div>

  </div>

</div>

<!-- When user is not owner of the channel -->
<ng-template #userIsNotOwner>
  <button chatterLoaderBtn mat-button *ngIf="!accepted && !accepting" (click)="acceptInvitation($event)">Accept</button>
  <ng-container *ngIf="!accepting else spinnerTpl;"></ng-container>
</ng-template>


<!-- Spinner template -->
<ng-template #spinnerTpl>
  <chatter-spinner [diameter]="30"></chatter-spinner>
</ng-template>
