@import "../../../scss/themes/variables";

.chatter-channel {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &:hover,
  &.selected {
    background-color: $blue-gray-700;
    outline: none;
  }

  &__meta {
    font-size: .8rem;
  }

}
