@import '../../../scss/themes/variables';
.contact-header {
  display: flex;
  height: 64px;
  background-color: $blue-gray-700;
  justify-content: center;
  align-items: center;
  color: $blue-gray-100;
}
