<mat-drawer-container>

  <mat-drawer *ngIf="auth.user$ | async as user"
              #drawer
              mode="side"
              [opened]="true">

    <span class="contact-header">
      Contacts
    </span>

    <chatter-contact-list></chatter-contact-list>

  </mat-drawer>

  <chatter-topbar (menuButtonClicked)="drawer && drawer.toggle()"
                  *ngIf="auth.user$ | async"></chatter-topbar>

  <div class="layout-content">

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
