<mat-drawer-container>

  <mat-drawer #drawer
              mode="side"
              [opened]="auth.user$ | async">

    <span class="contact-header">
      Contacts
    </span>

    <chatter-contact-list
      [unreadMessagesData]="unreadMessagesData"
      [channels]="channels$ | async"
      [contacts]="contacts$ | async">
    </chatter-contact-list>

  </mat-drawer>

  <chatter-topbar *ngIf="auth.user$ | async"
                  (menuButtonClicked)="drawer && drawer.toggle()">
  </chatter-topbar>

  <div class="layout-content">

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
