<div class="chatter-login-form  c-margin-top-4">

  <!-- Login form -->
  <mat-card class="animated fadeIn"
            *ngIf="showLoginForm">
    <h2>
      <mat-icon>chat</mat-icon>
      <span>Chatter - Sign In</span>
    </h2>

    <chatter-form-alert-main [message]="alertMessage"
                             [type]="alertType"
                             [visible]="alertVisible"></chatter-form-alert-main>

    <chatter-login-form
      (onError)="onErrorHandler($event)"
      (onReset)="alertVisible = false"
      #chatterLoginForm="chatter-login-form"
      (enterDown)="chatterLoginForm.signIn()"></chatter-login-form>

    <button mat-raised-button
            color="primary"
            (click)="chatterLoginForm.signIn()"
            chatterLoaderBtn
            [loadingState]="chatterLoginForm.isSending"
            [disabled]="chatterLoginForm.isInvalid">
      Sign in
    </button>
    <button mat-button
            (click)="toggleForms()">Forgot password?</button>
  </mat-card>
  <!-- ################################################################### -->

  <!-- Forgot password form -->
  <mat-card class="animated fadeIn"
            *ngIf="!showLoginForm">

    <h2>
      <mat-icon>chat</mat-icon>
      <span>Chatter - Reset password</span>
    </h2>

    <chatter-forgot-password-form
      #chatterForgotPasswordForm="chatter-forgot-password-form"></chatter-forgot-password-form>

    <button mat-raised-button
            color="primary"
            [disabled]="chatterForgotPasswordForm.isInvalid">Send email</button>

    <button mat-button
            (click)="toggleForms()">Back to sign in</button>

  </mat-card>
  <!-- ################################################################### -->

</div>
