<div class="chatter-chat-message animated fadeIn"
     *ngIf="message">
  <div>
    <strong>{{ message.author.firstName }} {{ message.author.lastName }}: </strong> {{ message.content }}
  </div>
  <div class="chatter-chat-message-actions">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="showEditForm()"
              mat-menu-item
              (click)="editMessage()">Edit</button>
      <button mat-menu-item>Item</button>
    </mat-menu>
  </div>
</div>
