.chatter-chat-message {
  padding: .5rem;
  border-bottom: 1px dotted rgba(#fff, .3);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .chatter-chat-message-actions {
    display: flex;
    align-items: center;
  }
}
