.chatter-chat-message {
  padding: .5rem;
  border-bottom: 1px dotted rgba(#fff, .3);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .chatter-chat-message-actions {
    display: flex;
    align-items: center;
  }
}

.message-avatar {
  display: flex;
  align-items: center;
  chatter-user-avatar {
    margin-right: .5rem;
  }

  margin-bottom: 1rem;
}

.message-content {
  padding: 0 1rem;
  margin-bottom: 1rem;
}
