<div class="edit-message-dialog">
  <mat-dialog-content>

    <h4>Edit message</h4>

    <chatter-message-editor
      (contentChanges)="contentChangesHandler($event)"
      [(value)]="message.content"></chatter-message-editor>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-button
            (click)="update()">Save</button>

    <button mat-button
            (click)="cancel()">Cancel</button>

  </mat-dialog-actions>

  <div
    class="dialog-loader animated fadeIn faster"
    *ngIf="loading">
    <chatter-loader message="Processing data..."></chatter-loader>
  </div>

</div>


