<div class="edit-message-dialog">
  <mat-dialog-content>

    <h4>Edit message</h4>

    <chatter-message-editor
      (contentChanges)="contentChangesHandler($event)"
      [(value)]="message.content"></chatter-message-editor>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-button
            (click)="update()">Save</button>

    <button mat-button
            (click)="cancel()">Cancel</button>

  </mat-dialog-actions>

  <chatter-spinner *ngIf="loading"></chatter-spinner>

</div>


