@for $i from 1 through 5 {
  .c-padding-top-#{$i} {
    padding-top: $i * 1rem;
  }
}

@for $i from 1 through 5 {
  .c-padding-bottom-#{$i} {
    padding-bottom: $i * 1rem;
  }
}

@for $i from 1 through 5 {
  .c-margin-top-#{$i} {
    margin-top: $i * 1rem;
  }
}

@for $i from 1 through 5 {
  .c-margin-bottom-#{$i} {
    margin-bottom: $i * 1rem;
  }
}
