.chatter-chat-messages-list {
  border: 1px solid rgba(#fff, .3);
  height: 60vh;
  overflow: auto;
  margin-bottom: 2rem;
  position: relative;

  chatter-spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
  }
}

.chatter-chat-messages-no-message {
  height: 100%;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}
