.chatter-topbar-user-info {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  span {
    margin-left: .5rem;
  }
}

.user-menu {
  width: 25rem;


  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__subheading {
    font-size: 0.7rem;
  }

  &__headings {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

}
